<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>
<p appBasicHighlight>Highlight directive test</p>
<p
  [appBetterHighlight]="'red'"
  defaultColor="yellow">
  <!-- [defaultColor]="'yellow'"> -->
  Better Highlight directive test
</p>
